<h3 class="animated fadeIn fast">Product details</h3>
<hr>
<div class="animated fadeIn">
  <div class="row">
    <div class="card-columns" *ngFor="let p of inventory">
      <div class="card mb-2">
        <div class="card-header">Id</div>
        <div class="card-body">
          <p class="card-text">{{p.id}}</p>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">Code</div>
        <div class="card-body">
          <p class="card-text">{{p.code}}</p>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">Product Name</div>
        <div class="card-body">
          <p class="card-text">{{p.product_name}}</p>
        </div>
      </div>
       <div class="card mb-2">
        <div class="card-header">Product Type</div>
        <div class="card-body">
          <p class="card-text">${{p.product_type}}</p>
        </div>
      </div>
       <div class="card mb-2">
        <div class="card-header">Availability Date</div>
        <div class="card-body">
          <p class="card-text">{{p.availability_date}}</p>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">Amount</div>
        <div class="card-body">
          <p class="card-text">{{p.amount}}</p>
        </div>
      </div>
       <div class="card mb-2">
        <div class="card-header">Cost</div>
        <div class="card-body">
          <p class="card-text">{{p.cost | currency}}</p>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">Price</div>
        <div class="card-body">
          <p class="card-text">{{p.price | currency}}</p>
        </div>
      </div>
      <div class="card text-white bg-info mb-2">
        <div class="card-header">Total Price</div>
        <div class="card-body">
          <p class="card-text">{{p.price * p.amount | currency}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4">
    <a class="btn btn-primary" [routerLink]="['/inventory']">Back to inventory</a>
  </div>
</div>
