<h1 class="animated fadeIn fast">About FrontEnd App</h1>
<hr>
<p class="animated fadeIn">

  FrontEnd App for KometSales.<br/><br/>
  <strong>Developer:</strong> Luis Fernando Pereira<br/>
  <strong>Email:</strong> lyufer@gmail.com<br/>
  <strong>Movil:</strong> +57 300 824 1135

</p>
