<h3 class="animated fadeIn fast">Product details</h3>
<hr>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6" *ngFor="let p of inventory">
      <div class="form-group">
        <label for="inputId">Id</label>
        <input type="text" class="form-control" #inputId id="inputId" value="{{p.id}}" readonly>
      </div> 
      <div class="form-group">
        <label for="inputCode">Code</label>
        <input type="text" class="form-control" #inputCode value="{{p.code}}" readonly>
      </div>
      <div class="form-group">
        <label for="inputName">Product Name</label>
        <input type="text" class="form-control"  value="{{p.product_name}}" readonly>
      </div>
      <div class="form-group">
        <label for="inputAmount">Amount</label>
        <input type="text" class="form-control"  #inputAmount value="{{p.amount}}">
      </div>
      <div class="form-group">
        <label for="inputCost">Cost</label>
        <input type="text" class="form-control" id="inputCost" #inputCost value="{{p.cost}}" >
      </div>
    </div>
  </div>
  <div *ngIf="edited == true" class="row animated fadeIn fast">
    <div *ngIf="errors == false" class="col-md-6">
      <div class="alert alert-success" role="alert">
        Product edited successfully
      </div>
    </div>
    <div *ngIf="errors == true" class="col-md-6">
      <div class="alert alert-danger" role="alert">
        Oh, an error occurred.
      </div>
    </div>
  </div>
  <div class="pt-4">
    <button class="btn btn-primary" (click)="editProduct()">Edit</button>
    &nbsp;&nbsp;
    <a class="btn btn-outline-secondary" [routerLink]="['/inventory']">Back to inventory</a>
  </div>
</div>
