<h1 class="animated fadeIn fast">Upload inventory</h1>
<hr>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
    <form novalidate [formGroup]="formImport">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="inputEmail" placeholder="Enter email">
        <div *ngIf="!formImport.controls['inputEmail'].valid">
          <small class="text-danger" >Email is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="importFile">File to upload</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)">
              <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
          <div *ngIf="!formImport.controls['importFile'].valid">
            <small class="text-danger" >File to upload is required</small>
          </div>
        </div>
      </div>
      <div *ngIf="imported == true" class="row animated fadeIn fast">
        <div *ngIf="errors == false">
          <div class="alert alert-success" role="alert">
            Upload file successfully. When processing the file, your receive a email.
          </div>
        </div>
        <div *ngIf="errors == true">
          <div class="alert alert-danger" role="alert">
            Oh, an error occurred.
          </div>
        </div>
      </div>
      <div class="form-group pt-4">
        <button class="btn btn-outline-primary my-2 my-sm-0" [disabled]="!formImport.valid" type="submit" (click)="import()">Submit
          </button>
          &nbsp;&nbsp;
          <a class="btn btn-outline-secondary" [routerLink]="['/inventory']">Go to inventory</a>
      </div>
    </form>
  </div>
  </div>
</div>
