<h1 class="animated fadeIn fast">Inventory</h1>
<hr>
<div class="animated fadeIn">

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Product code"
        (keyup.enter)="searchProduct(inputID.value)" #inputID>
        <button (click)="searchProduct(inputID.value)"
            class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
    <br/>
    <br/>
    <table *ngIf="inventory.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Code</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Type</th>
            <th scope="col">Availability Date</th>
            <th scope="col">Amount</th>
            <th class="text-right" scope="col">Cost</th>
            <th class="text-right" scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of inventory;">
            <th scope="row">{{product.id}}</th>
            <td>{{product.code}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.product_type}}</td>
            <td>{{product.availability_date}}</td>
            <td>{{product.amount}}</td>
            <td class="text-right">{{ product.cost | currency}}</td>
            <td class="text-right">{{ product.price | currency}}</td>
            <td >
              <a [routerLink]="['/details', product.code]"
                class="btn btn-outline-success my-2 my-sm-0">Details</a>
            </td>
            <td >
              <a [routerLink]="['/edit', product.code]"
                class="btn btn-outline-info my-2 my-sm-0">Edit</a>
            </td>
            <td >
              <button (click)="deleteProduct(product.id, product.code)"
                class="btn btn-outline-danger my-2 my-sm-0">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div *ngIf="inventory.length == 0" class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          Product(s) not found
        </div>
      </div>
    </div>
</div>
